@model List<Twilio.Message>

<h1 class="page-header text-center">Send skilaboð</h1>

<div class="row table-responsive">
    <table class="table table-borderless table-striped">
        <thead>
            <tr style="font-weight: bold;">
                <td>Tími</td>
                <td>Frá</td>
                <td>Til</td>
                <td>Innihald</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DateSent</td>
                <td>@item.From</td>
                <td>@item.To</td>
                <td>@item.Body</td>
                <td>@item.Status</td>
            </tr>
        }
        </tbody>
    </table>
</div>
